<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="Move Removals">
        <meta name="theme-color" content="#007454"/>

        <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <title>Move Removals - {{ title }}</title>

        <link rel="stylesheet" href="style.css?v={{ version }}">
        <link defer rel="stylesheet" href="modals.css?v={{ version }}">

        <script defer src="scripts/modals.js"></script>

        {{#> page-head }}{{/page-head}}

    </head>

    <body>

        <div class="mnh-100 flex-col">

            {{> header}}

            <main class="p-1 fc-light container mx-auto w-100 flex-grow flex-row flex-wrap justify-space-between lg-justify-center">

                {{#> main-block}}{{/main-block}}

            </main>

            {{> footer}}

        </div>

        {{#> body-end }}{{/body-end}}

    </body>

</html>