<footer>
    <div class="container flex-col md-flex-row space-around center p-1">
        <a href="facebook.com/moveremovals" title="Find us on Facebook">Facebook</a>
        <a class="px-1" href="tel:01613303300">
            <span class="fc-primary">Tel: </span>0161 330 3300
        </a>
        <a class="px-1" href="mailto:enquiries@moveremovals.co.uk">
            <span class="fc-primary">Email: </span>enquiries@moveremovals.co.uk
        </a>
    </div>
</footer>
