<header>
<div class="container w-100 fc-light text-left mt-1">

    <div class="flex-row flex-wrap justify-space-between">
        <a id="siteTitle" class="w-100 md-w-auto px-2 mt-1 mb-1" href="/" title="Move Removals">MOVE<br/>REMOVALS</a>

        <div class="w-100 md-w-auto flex-row flex-wrap center mb-1 mt-auto fit-content">
            <a class="px-2 py-1" href="tel:{{ phoneNumber }}">
                <span class="fc-primary">&#8481;&nbsp;</span>{{ phoneNumber }}
            </a>
            <br/>
            <a class="px-2 py-1" href="mailto:{{ email }}">
                <span class="fc-primary">@&nbsp;</span>{{ email }}
            </a>
        </div>
    </div>

    {{> nav}}

</div>
</header>