<div class="w-100" id="navContainer">

    <input type="checkbox" id="menuToggle" class="d-none">
    <nav class="container flex-col md-flex-row">
        <label id="menuButton" for="menuToggle" class="flex-col center">
            <div></div>
            <div></div>
            <div></div>
        </label>

        <a href="/" class="{{#if_eq navItem 'about'}}active{{/if_eq}}">About</a>
        <a href="/CommercialServices" class="{{#if_eq navItem 'commercial'}}active{{/if_eq}}">Commercial Services</a>
        <a href="/CourierServices" class="{{#if_eq navItem 'courier'}}active{{/if_eq}}">Courier Services</a>
        <a href="/Quote" class="{{#if_eq navItem 'quote'}}active{{/if_eq}}">Get a Quote</a>
        <a href="/Contact" class="{{#if_eq navItem 'contact'}}active{{/if_eq}}">Contact</a>

    </nav>
</div>