<div class="w-100" id="navContainer">

    <input type="checkbox" id="menuToggle" class="d-none">
    <nav class="container flex-col md-flex-row">
        <label id="menuButton" for="menuToggle" class="flex-col center">
            <div></div>
            <div></div>
            <div></div>
        </label>

        {{#each navItems as |value navPath|}}
            <a href="{{navPath}}" class="{{#if_eq @navPath ../currentPath}}active{{/if_eq}}">{{value}}</a>
        {{/each}}

    </nav>
</div>