<div id="quickQuoteModal" class="modal">
    <span class="modal-closer">X</span>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSerxT6JvezhgzFHgOw-0ModTjtbOyWp0u9YdqfRrgKg_CsMeA/viewform?embedded=true" width="640" height="2400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>