{{#> base title="Commercial Move" currentPath="/CommercialMove" }}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture title="Move Removals" alt="Two men prepare a box for moving" file="/images/two_men_box" ext="jpg" type="jpeg" }}

        <div class="card-band">
            <div class="card-band-inner">
                <h1>Commercial Move</h1>
            </div>
        </div>
    </div>

{{/inline}}

{{/base}}