{{#> base title="Commercial Move" currentPath="/CommercialMove" }}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture title="Move Removals Commercial Moves" alt="Two men prepare a box for moving" file="/images/two_men_box" ext="jpg" type="jpeg" loading="eager" }}
        {{> quickQuoteCardBanner }}
    </div>

    <div class="flex-row flex-wrap w-100 mb-auto">

        <article class="mt-1 two-thirds flex-col">

            <h2 class="fc-primary">{{> tbo }} Commercial Move {{> tbc }}</h2>

            <p>We are able to accommodate multi-story office moves, warehouse clearances, large goods transport and any long-haul logistical needs. Our team of skilled professional loaders and packers are fully trained to handle your property with care. Quality control and proactive goods protection is our number one priority. We use high-quality packaging materials, safety blankets, and secure loading straps throughout. We guarantee both loading and unloading are completed safely and efficiently. All goods in the care of our team are insured against damage or theft.</p>
        </article>

        <div class="card modal-btn h-100 card-inset mt-1">
            {{> picture title="Storage Services" alt="A smart looking storage facility" file="/images/storage_units" ext="jpg" type="jpeg" }}

            <div class="card-band">
                <div class="card-band-inner">
                    <a class="modal-btn" href="storage">STORAGE SERVICES</a>
                </div>
            </div>
        </div>

    </div>

{{/inline}}

{{#*inline "body-end"}}

    {{> quickQuoteModal}}

{{/inline}}

{{/base}}