{{#> base title="Contact Us" currentPath="/Contact" }}

{{#*inline "page-head"}}

    <link rel="stylesheet" href="styleHero.css?v={{ version }}">
    <link rel="stylesheet" href="modals.css?v={{ version }}">

{{/inline}}

{{#*inline "main-block"}}

    <div id="heroSpace">
        {{> picture id="heroImg" title="Move Removals" alt="A smart looking van moves efficiently from left to right" file="/images/van" ext="jpg" type="jpeg" }}

        <div id="heroBtnWrapperOuter">
            <div id="heroBtnWrapperInner">
                <button id="heroBtn" class="modal-btn" data-modal-target="#requestCallback">Request A Callback</button>
            </div>
        </div>
    </div>

    <article class="w-100 mb-auto">

        <h2 class="fc-primary">{{> tbo }} Contact Us {{> tbc }}</h2>

        <p>
            For all enquiries, give us a call on: <a class="px-1" href="tel:01613303300">0161 330 3300</a>, email <a class="px-1" href="mailto:enquiries@moveremovals.co.uk"> enquiries@moveremovals.co.uk</a>
            or fill out the form below and we'll get back to you.
        </p>

    </article>

{{/inline}}

{{#*inline "body-end"}}

    <div id="requestCallback" class="modal">
        <span class="modal-closer" data-modal-target="#requestCallback">X</span>
        <div id="ff-compose"></div>
        <script async defer src="https://formfacade.com/include/115509109870889804738/form/1FAIpQLSejyGhRnPQ6eVZ0bbyaGxPUKvSpqjLK1jKtzuouqEuC-zcNdA/classic.js?div=ff-compose"></script>
    </div>

    <script src="scripts/modals.js"></script>

{{/inline}}

{{/base}}