{{#> base title="Contact Us" currentPath="/Contact" }}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture title="Move Removals" alt="A smart looking van moves efficiently from left to right" file="/images/van" ext="jpg" type="jpeg" }}

        <div class="card-band">
            <div class="card-band-inner">
                <button class="modal-btn" data-modal-target="#requestCallbackModal">REQUEST A CALLBACK</button>
            </div>
        </div>
    </div>

    <article class="w-100 mb-auto">

        <h2 class="fc-primary">{{> tbo }} Contact Us {{> tbc }}</h2>

        <div class="flex-row center">
            <p class="mb-1">
                For all enquiries
                <br>
                Call: <a class="px-1" href="tel:01613303300">0161 330 3300</a>
                <br>
                Email <a class="px-1" href="mailto:enquiries@moveremovals.co.uk"> enquiries@moveremovals.co.uk</a>
                <br>
                Or complete the form below for a free, no-obligation, quote.
            </p>
        </div>

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSerxT6JvezhgzFHgOw-0ModTjtbOyWp0u9YdqfRrgKg_CsMeA/viewform?embedded=true" width="640" height="2500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </article>

{{/inline}}

{{#*inline "body-end"}}

    <div id="requestCallbackModal" class="modal">
        <div class="modal-header">
            <span class="modal-closer" aria-label="close">X</span>
        </div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSejyGhRnPQ6eVZ0bbyaGxPUKvSpqjLK1jKtzuouqEuC-zcNdA/viewform?embedded=true" width="640" height="700" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

{{/inline}}

{{/base}}