{{#> base title="About" currentPath="/"}}

{{#*inline "page-head"}}

    <link rel="stylesheet" href="styleHero.css?v={{ version }}">
    <link rel="stylesheet" href="modals.css?v={{ version }}">

{{/inline}}

{{#*inline "main-block"}}

    <div id="heroSpace">
        {{> picture id="heroImg" title="Move Removals" alt="A smart looking van moves efficiently from left to right" file="/images/van" ext="jpg" type="jpeg" }}

        <div id="heroBtnWrapperOuter">
            <div id="heroBtnWrapperInner">
                <button id="heroBtn" class="modal-btn" data-modal-target="#quickQuoteModal">GET A QUICK QUOTE</button>
            </div>
        </div>
    </div>

    <article class="w-100 mb-auto mt-1">

        <h2 class="fc-primary">{{> tbo }} Move Removals {{> tbc }}</h2>

        <p>Move Removals are the premier removals and courier service in Greater Manchester. If you've got something that needs shifting from one place to another, we've got the skills and the van to facilitate that at very reasonable prices.
        <p>No load is too big or small for us and we're very careful.</p>
        <p>Move Removals was founded in 2022, which makes it one of the most successful young removals companies in the world.</p>

        <br>

        <h2 class="fc-primary">{{> tbo }} The Areas We Cover {{> tbc }}</h2>

        <ul id="areaList">
            <li>{{> pin }} Bolton</li>
            <li>{{> pin }} Oldham</li>
            <li>{{> pin }} Rochdale</li>
            <li>{{> pin }} Salford</li>
            <li>{{> pin }} Stockport</li>
            <li>{{> pin }} Tameside</li>
            <li>{{> pin }} Trafford</li>
            <li>{{> pin }} Greater Manchester</li>
            <li>{{> pin }} North West</li>
        </ul>

    </article>

{{/inline}}

{{#*inline "body-end"}}
    <div id="quickQuoteModal" class="modal">
        <span class="modal-closer" data-modal-target="#quickQuoteModal">X</span>
        <div id="ff-compose"></div>
        <script async defer src="https://formfacade.com/include/115509109870889804738/form/1FAIpQLSerxT6JvezhgzFHgOw-0ModTjtbOyWp0u9YdqfRrgKg_CsMeA/classic.js?div=ff-compose"></script>
    </div>

    <script src="scripts/modals.js"></script>
{{/inline}}

{{/base}}