{{#> base title="About" currentPath="/" }}

{{#*inline "main-block"}}

    <img id="heroImg" src="/images/van.jpg" title="Move Removals" loading="lazy"/>

    <article class="w-100 mb-auto">
        <p>Move Removals are the premier removals and courier service in Greater Manchester. If you've got something that needs shifting from one place to another, we've got the skills and the van to facilitate that at very reasonable prices.
        <p>No load is too big or small for us and we're very careful.</p>
        <p>Move Removals was founded in 2022, which makes it one of the most successful young removals companies in the world.</p>

        <br>

        <h2 class="fc-primary">Testimonies</h2>
        <p>Here's what our customers say about us</p>

        <div></div>
    </article>

{{/inline}}

{{/base}}