{{#> base title="About" currentPath="/" }}

{{#*inline "main-block"}}

    {{> picture id="heroImg" title="Move Removals" alt="A smart looking van moves efficiently from left to right" file="/images/van" ext="jpg" type="jpeg" }}

    <article class="w-100 mb-auto">

        <h2 class="fc-primary">{{> tbo }} Get It Shifted With Move Removals {{> tbc }}</h2>

        <p>Move Removals are the premier removals and courier service in Greater Manchester. If you've got something that needs shifting from one place to another, we've got the skills and the van to facilitate that at very reasonable prices.
        <p>No load is too big or small for us and we're very careful.</p>
        <p>Move Removals was founded in 2022, which makes it one of the most successful young removals companies in the world.</p>

        <br>

        <h2 class="fc-primary">{{> tbo }} The Areas We Cover {{> tbc }}</h2>

        <ul id="areaList">
            <li>Oldham</li>
            <li>Rochdale</li>
            <li>Stockport</li>
            <li>Trafford</li>
        </ul>

    </article>

{{/inline}}

{{/base}}