{{#> base title="About" currentPath="/"}}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture title="Move Removals" alt="The clean white Move Removals van is proudly parked outside a neat property ready for work" file="/images/van" ext="jpg" type="jpeg" loading="eager" }}
        {{> quickQuoteCardBanner }}
    </div>

    <div class="flex-row flex-wrap card-rack mt-1 w-100">

        <a class="card" href="ResidentialMove" title="Residential Move">
            {{> picture title="Move Removals" alt="A hand packs books into a brown cardboard box ready for moving" file="/images/box_books" ext="jpg" type="jpeg" }}

            <div class="card-band">
                <div class="card-band-inner">
                    <span class="card-title">Residential Move</span>
                </div>
            </div>
        </a>

        <a class="card" href="CommercialMove" title="Commercial Move">
            {{> picture title="Move Removals" alt="Two men prepare a box for moving" file="/images/two_men_box" ext="jpg" type="jpeg" }}

            <div class="card-band">
                <div class="card-band-inner">
                    <span class="card-title">Commercial Move</span>
                </div>
            </div>
        </a>

        <a class="card" href="PackWrapDismantling" title="Packing/Dismantling">
            {{> picture title="Move Removals" alt="A hand tapes up a box ready for moving" file="/images/box_taping" ext="jpg" type="jpeg" }}

            <div class="card-band">
                <div class="card-band-inner">
                    <span class="card-title">Packing / Dismantling</span>
                </div>
            </div>
        </a>

    </div>

    <article class="w-100 mb-auto mt-1">

        <h2 class="fc-primary">{{> tbo }} Move Removals {{> tbc }}</h2>

        <p>Here at Move Removals, we’re your trusted partner for all your relocation needs. We are a family-owned and operated Removals Company, based in the Greater Manchester area. We serve every location around the UK, assisting with moves both commercially and residentially.</p>

        <p>We understand that every move is unique and we are committed to providing you with personalised assistance. Our experienced team guarantees a reliable service and we are committed to providing top-quality solutions to your problems. Whether it's a local job, or moving across the country, we always go the extra mile. We take pride in our happy customers.</p>

        <p>We are able to accommodate any job, commercial or residential, at any location around the UK, any day, at any time.  Whether you’re moving house, changing offices, clearing storage units and warehouses, transporting goods to and from events,  or simply looking for some extra logistical support; we're here for you.</p>

        <br>

        <h2 class="fc-primary">{{> tbo }} The Areas We Cover {{> tbc }}</h2>

        <ul id="areaList">
            <li>{{> pin }} England</li>
            <li>{{> pin }} Scotland</li>
            <li>{{> pin }} Wales</li>
            <li>{{> pin }} British Islands</li>
            <li>{{> pin }} Ireland</li>
            <li>{{> pin }} Mainland EU</li>
        </ul>

    </article>

{{/inline}}

{{#*inline "body-end"}}
     {{> quickQuoteModal}}
{{/inline}}

{{/base}}