{{#> base title="About" currentPath="/"}}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture title="Move Removals" alt="A smart looking van moves efficiently from left to right" file="/images/van" ext="jpg" type="jpeg" }}

        <div class="card-band">
            <div class="card-band-inner">
                <button class="modal-btn" data-modal-target="#quickQuoteModal">GET A QUICK QUOTE</button>
            </div>
        </div>
    </div>

    <div class="flex-row flex-wrap card-rack mt-1 w-100">

        <a class="card" href="ResidentialMove" title="Residential Move">
            {{> picture title="Move Removals" alt="A hand packs books into a brown cardboard box ready for moving" file="/images/box_books" ext="jpg" type="jpeg" }}

            <div class="card-band">
                <div class="card-band-inner">
                    <span class="card-title">Residential Move</span>
                </div>
            </div>
        </a>

        <a class="card" href="CommercialMove" title="Commercial Move">
            {{> picture title="Move Removals" alt="Two men prepare a box for moving" file="/images/two_men_box" ext="jpg" type="jpeg" }}

            <div class="card-band">
                <div class="card-band-inner">
                    <span class="card-title">Commercial Move</span>
                </div>
            </div>
        </a>

        <a class="card" href="PackWrapDismantling" title="Packing/Dismantling">
            {{> picture title="Move Removals" alt="A hand tapes up a box ready for moving" file="/images/box_taping" ext="jpg" type="jpeg" }}

            <div class="card-band">
                <div class="card-band-inner">
                    <span class="card-title">Packing / Dismantling</span>
                </div>
            </div>
        </a>

    </div>

    <article class="w-100 mb-auto mt-2">

        <h2 class="fc-primary">{{> tbo }} Move Removals {{> tbc }}</h2>

        <p>Move Removals are the premier removals and courier service in Greater Manchester. If you've got something that needs shifting from one place to another, we've got the skills and the van to facilitate that at very reasonable prices.
        <p>No load is too big or small for us and we're very careful.</p>
        <p>Move Removals was founded in 2022, which makes it one of the most successful young removals companies in the world.</p>

        <br>

        <h2 class="fc-primary">{{> tbo }} The Areas We Cover {{> tbc }}</h2>

        <ul id="areaList">
            <li>{{> pin }} Bolton</li>
            <li>{{> pin }} Oldham</li>
            <li>{{> pin }} Rochdale</li>
            <li>{{> pin }} Salford</li>
            <li>{{> pin }} Stockport</li>
            <li>{{> pin }} Tameside</li>
            <li>{{> pin }} Trafford</li>
            <li>{{> pin }} Bury</li>
            <li>{{> pin }} Wigan</li>
            <li>{{> pin }} Ashton-U-Lyne</li>
            <li>{{> pin }} Manchester</li>
            <li>{{> pin }} North West</li>
        </ul>

    </article>

{{/inline}}

{{#*inline "body-end"}}
     {{> quickQuoteModal}}
{{/inline}}

{{/base}}