{{#> base title="Pack Wrap & Dismantling" currentPath="/PackWrapDismantling" }}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture title="Move Removals Pack Wrap & Dismantling" alt="A hand tapes up a box ready for moving" file="/images/box_taping" ext="jpg" type="jpeg" loading="eager" }}
        {{> quickQuoteCardBanner }}
    </div>

    <div class="flex-row flex-wrap w-100 mb-auto">

        <article class="mt-1 two-thirds">

            <h2 class="fc-primary">{{> tbo }} Pack Wrap & Dismantling {{> tbc }}</h2>

            <p>• We can provide boxes and wrapping materials for your move. We also offer a pack & wrap service for every item you own, meaning we will secure every item for you before it is loaded for transportation.</p>
            <p>• We further offer an unpacking service, where we will unbox/unwrap each item as you like, to save you time and hassle.</p>
            <p>• We offer to disassemble and reassemble anything you require. Our skilled professionals are proficient with all manner of disassembly and reassembly for furniture, beds, sofas, etc. </p>
        </article>

        <div class="card modal-btn h-100 card-inset mt-1">
            {{> picture title="Storage Services" alt="A smart looking storage facility" file="/images/storage_units" ext="jpg" type="jpeg" }}

            <div class="card-band">
                <div class="card-band-inner">
                    <a class="modal-btn" href="storage">STORAGE SERVICES</a>
                </div>
            </div>
        </div>

    </div>

{{/inline}}

{{#*inline "body-end"}}

    {{> quickQuoteModal}}

{{/inline}}

{{/base}}