{{#> base title="Pack Wrap & Dismantling" currentPath="/PackWrapDismantling" }}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture title="Move Removals" alt="A hand tapes up a box ready for moving" file="/images/box_taping" ext="jpg" type="jpeg" }}

        <div class="card-band">
            <div class="card-band-inner">
                <h1>Pack Wrap & Dismantling</h1>
            </div>
        </div>
    </div>

{{/inline}}

{{/base}}