{{#> base title="Quote" currentPath="/Quote" }}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture title="Move Removals" alt="The clean white Move Removals van is proudly parked outside a neat property ready for work" file="/images/van" ext="jpg" type="jpeg" loading="eager" }}

        <div class="card-band">
            <div class="card-band-inner">
                <h1>Online Quote</h1>
            </div>
        </div>
    </div>

    <article class="w-100 mt-1 mb-auto">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfmDr5okivBFxdqC52oaK4mHnLj1Tv_ky3_qQDs-dIngVnqxw/viewform?embedded=true" width="1200" height="2400" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </article>

{{/inline}}

{{/base}}