{{#> base title="Residential Move" currentPath="/ResidentialMove" }}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture id="heroImg" title="Move Removals Residential Moves" alt="The clean hands of a happy homeowner packs a stack of books into a box" file="/images/box_books" ext="jpg" type="jpeg" loading="eager" }}
        {{> quickQuoteCardBanner }}
    </div>

    <div class="flex-row flex-wrap w-100 mb-auto">

        <article class="two-thirds mt-1 flex-col">

            <h2 class="fc-primary">{{> tbo }} Residential Move {{> tbc }}</h2>

            <p class="mt-auto mb-auto">Moving can be difficult, stressful and even overwhelming. Why worry? Let us help carry the load. That’s why we take our time to listen to your specific requirements and tailor the job to your unique situation. Our Removal experts bring with them our tried and tested skills to ensure that every move is a smooth and hassle-free experience. We make our living on happy customers and repeat business, get in touch to find out why.</p>

        </article>

        <div class="card modal-btn h-100 card-inset mt-1">
            {{> picture title="Student Move" alt="A student packs ready for moving" file="/images/student_box" ext="jpg" type="jpeg" }}

            <div class="card-band">
                <div class="card-band-inner">
                    <button class="modal-btn" data-modal-target="#studentMoveQuoteModal">STUDENT MOVE QUOTE</button>
                </div>
            </div>
        </div>

    </div>

{{/inline}}

{{#*inline "body-end"}}

    <div id="studentMoveQuoteModal" class="modal">
        <div class="modal-header">
            <span class="modal-closer" aria-label="close">X</span>
        </div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf5mr-5B7PrGxp0QDK_9qJf-WmRXkDIPxOCe3UmxVb9gI1sWw/viewform?embedded=true" width="640" height="1200" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    {{> quickQuoteModal}}

{{/inline}}

{{/base}}