{{#> base title="Residential Move" currentPath="/ResidentialMove" }}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture id="heroImg" title="Move Removals" alt="A smart looking van moves efficiently from left to right" file="/images/box_books" ext="jpg" type="jpeg" }}

        <div class="card-band">
            <div class="card-band-inner">
                <h1>Residential Move</h1>
            </div>
        </div>
    </div>

{{/inline}}

{{/base}}