{{#> base title="Storage" currentPath="/Storage" }}

{{#*inline "main-block"}}

    <div id="heroSpace" class="card">
        {{> picture title="Move Removals" alt="A box is prepared for storage" file="/images/storage_units" ext="jpg" type="jpeg" loading="eager" }}

        <div class="card-band">
            <div class="card-band-inner">
                <button class="modal-btn" data-modal-target="#quickQuoteModal">GET A QUICK QUOTE</button>
            </div>
        </div>
    </div>

    <article class="w-100 mb-auto mt-2">

        <h2 class="fc-primary">{{> tbo }} Storage {{> tbc }}</h2>

        <p>We can provide transport to and from any storage location in the UK, alongside this we offer our loading and unloading service.</p>

        <p>We have excellent working relationships with many of the storage companies around Greater Manchester. Our experienced team is able to advise you and recommend what storage solution best suits your requirements.</p>

        <p>Anything kept with the Move Removals team is stored securely and safely. We use high-quality packaging materials, safety blankets, and secure loading straps throughout. All goods are insured against theft or damage.</p>

    </article>

{{/inline}}

{{#*inline "body-end"}}
     {{> quickQuoteModal}}
{{/inline}}

{{/base}}